* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {  
    width: 100%; 
    margin-top: 0px;
    min-height: 90vh;
    background-image: url(/images/zengarden.jpeg); 
    background-size: cover;
    background-position: center;
    position: relative; /* to center white box*/
}

.tracker-box { 
    position: absolute;     
    width: 360px;
    height: 700px;
    top: 50%;
    left: 50%; 
    background-color: #D5CB8E;                
    transform: translate(-50%, -50%);        
    border-radius: 8px; 
}

.budget-header .balance{
    margin-top: 45px;
    margin-left: 20px;
}

.budget-header .balance .title{
    color: #FFF;
    font-size: 2em;
}

.budget-header .balance .value{
    color: #FFF;
    font-size: 2em;
    margin-top: 10px;
}

.budget-header .account{
    display: block;
    width: 310px;
    margin: 35px auto 0;
    line-height: 1.7em;
    text-align: center;
    
}

.budget-header .account .income, .chart, .outcome{
    height: 50px;
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

.budget-header .account .income .title{
    color: #a8b175;
    
}
.budget-header .account .income .income-total{
    color: #398825;
}

.budget-header .account .outcome .title{
    color: #a8b175;
}
.budget-header .account .outcome .outcome-total{
    color: #f0624d;
}

/* Dashboard */
.budget-dashboard{
    display: block;
    width: 360px;
    height: 470px;
    background-color: #FFF;
    margin-top: 35px;
    border-radius: 30px 30px 0 0;
}

.budget-dashboard .dash-title{
    display: inline-block;
    color: #1a0034;
    font-size: 1.7em;
    margin-left: 20px;
    margin-top: 30px;
}

.toggle{
    display: block;
    margin-top: 30px;
    margin-left: 20px;
}

.toggle .tab1, .tab2, .tab3{
    display: inline-block;
    cursor: pointer;
    font-size: 1.1em;
    color: #1a0034;
    opacity: 0.4;
}

.toggle .tab2, .tab3{
    margin-left: 10px;
}

.active{
    opacity : 1 !important;
}

.hide{
    display: none;
}

.budget-dashboard input{
    /* MAKE INPUT SELECTABLE */
    -webkit-user-select: auto;      
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}


/* Expense */
.budget-dashboard #expense{
    width: 360px;
    height: 339px;
    position: relative;
}

.budget-dashboard #expense .input{
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.budget-dashboard #expense .input *{
    display: inline-block;
    vertical-align: middle;
}

.budget-dashboard #expense .input input#expense-title-input{
    height: 40px;
    width : 150px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.budget-dashboard #expense .input input#expense-amount-input{
    height: 40px;
    width : 110px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: -10px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.budget-dashboard #expense .input .add-expense i{
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 30px;
}

.budget-dashboard #expense ul{
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.budget-dashboard #expense ul.list li{
    overflow: scroll;
    position: relative;
    font-size: 1em;
}

.budget-dashboard #expense ul.list li *{
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between; 
    height: 30px;
    vertical-align: middle;
}

.budget-dashboard #expense ul.list li:hover{
    background-color: #D3E171;
}

.budget-dashboard #expense ul.list li .entry{
    width:250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    color: #f0624d;
}

.budget-dashboard #expense ul.list li #edit{
    position: absolute;
    width:20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("/images/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #expense ul.list li #delete{
    position: absolute;
    width:20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('/images/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

/* Income */
.budget-dashboard #income{
    width: 360px;
    height: 339px;
    position: relative;
}

.budget-dashboard #income .input{
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.budget-dashboard #income .input *{
    display: inline-block;
    vertical-align: middle;
}

.budget-dashboard #income .input input#income-title-input{
    height: 40px;
    width : 150px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.budget-dashboard #income .input input#income-amount-input{
    height: 40px;
    width : 110px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: -10px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.budget-dashboard #income .input .add-income i{
    width: 50px;
    height: 40px;
    cursor: pointer;
    font-size: 30px;
}

.budget-dashboard #income ul{
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.budget-dashboard #income ul.list li{
    overflow: scroll;
    position: relative;
    font-size: 1em;
}

.budget-dashboard #income ul.list li *{
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between; 
    height: 30px;
    vertical-align: middle;
}

.budget-dashboard #income ul.list li:hover{
    background-color: #D3E171;
}

.budget-dashboard #income ul.list li .entry{
    width:250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    font-family: 'Gilroy Bold';
}

.budget-dashboard #income ul.list li #edit{
    position: absolute;
    width:20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("/images/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #income ul.list li #delete{
    position: absolute;
    width:20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('/images/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}